body {
	margin : 0 auto;
	width : 66%;
	text-align: center;
	background-color: #32292f;
}

img {
	width : 300px;
	border-radius: 10px;
}

li {
	padding-bottom: 10px;
}

ul {
	padding: 0;
  font-size: 20px;
  line-height: 30px;
}

ul, li {
	list-style-type: none;
}

li img {
	display: block;
	margin: auto;
}

h1 {
	font-family: georgia;
  font-size: 50px;
  padding-top: 20px;
  font-weight: bold;
  margin-top: 0;
}

h3 {
	font-family: arial;
  font-size: 24px;
}

.background-container {
	width : 80%;
	background-color : #99e1d9;
	margin: auto;
	border-radius: 10px;
	margin-top: 30px;
	padding-top: 10px;
}

a {
    color: #0060B6;
    text-decoration: none;
    font-family: arial;
}